<?xml version="1.0"?>
<config>
	<modules>
		<Dhtechnologies_Ediconnectorbase>
			<version>0.1.0</version>
		</Dhtechnologies_Ediconnectorbase>
	</modules>
	<global>
		<models>
			<sales>
				<rewrite>
					<order>Dhtechnologies_Ediconnectorbase_Model_Order</order>
				</rewrite>
			</sales>
			<shipping>
				<rewrite>
					<order>Dhtechnologies_Ediconnectorbase_Model_Shipping</order>
				</rewrite>
			</shipping>
			<ediconnectorbase>
				<class>Dhtechnologies_Ediconnectorbase_Model</class>
				<resourceModel>ediconnectorbase_mysql4</resourceModel>
			</ediconnectorbase>
			<ediconnectorbase_mysql4>
				<class>Dhtechnologies_Ediconnectorbase_Model_Mysql4</class>
				<entities>
					<inbound>
						<table>inbound_edi_documents</table>
					</inbound>
					<outbound>
						<table>outbound_edi_documents</table>
					</outbound>
					<ediconfiguration>
						<table>edi_configuration</table>
					</ediconfiguration>
				</entities>
			</ediconnectorbase_mysql4>
		</models>
		<resources>
			<ediconnectorbase_setup>
				<setup>
					<module>Dhtechnologies_Ediconnectorbase</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ediconnectorbase_setup>
			<ediconnectorbase_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ediconnectorbase_write>
			<ediconnectorbase_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ediconnectorbase_read>
		</resources>
		<blocks>
			<ediconnectorbase>
				<class>Dhtechnologies_Ediconnectorbase_Block</class>
			</ediconnectorbase>
		</blocks>
		<helpers>
			<ediconnectorbase>
				<class>Dhtechnologies_Ediconnectorbase_Helper</class>
			</ediconnectorbase>
		</helpers>
		<ediconnectorbase>
			<documentPackages>
				<edi850Out>Ediconnectorbase</edi850Out>
			</documentPackages>
			<actionList>
				<actionDefinition850Out>
					<sequenceNum>6000</sequenceNum>
					<documentType>850</documentType>
					<direction>out</direction>
					<actionType>Dhtechnologies_Ediconnectorbase_Model_Connector_Edi_Core_Format_Action_EdiSendSalesOrderOut</actionType>
					<processCodes></processCodes>
				</actionDefinition850Out>
			</actionList>
		</ediconnectorbase>
	</global>
	<default>
		<ediconnector>
			<ediconnectorgeneral>
				<active>0</active>
				<model>ediconnectorbase/ediconnectorbase</model>
				<ftp_address>localhost</ftp_address>
				<ftp_username>username</ftp_username>
				<ftp_password>password</ftp_password>
				<ftp_out_path>edi/out</ftp_out_path>
				<ftp_in_path>edi/in</ftp_in_path>
				<transport_type>FTP</transport_type>
				<confirmation_suffix></confirmation_suffix>
				<inbound_suffix></inbound_suffix>
				<outbound_suffix></outbound_suffix>
				<save_local_sent>0</save_local_sent>
				<delete_received_file>1</delete_received_file>
				<save_local_sent_document_path></save_local_sent_document_path>
				<outbound_logs_days_to_keep>5</outbound_logs_days_to_keep>
				<inbound_logs_days_to_keep>5</inbound_logs_days_to_keep>
				<allowspecific>0</allowspecific>
				<end_line_delimiter>0d</end_line_delimiter>
				<in_line_delimiter>*</in_line_delimiter>
				<record_type_position>1</record_type_position>
				<record_type_element>ST</record_type_element>
				<date_format>ymd</date_format>
				<long_date_format>Ymd</long_date_format>
				<time_format>Hi</time_format>
				<long_time_format>His00</long_time_format>
			</ediconnectorgeneral>
			<ediconnector850out>
				<active>0</active>
				<send_order_status>pending</send_order_status>
				<!-- model to handle logic for this  method -->
				<model>ediconnectorbaset/ediconnectorbaset</model>				
			</ediconnector850out>
		</ediconnector>
		<carriers>
			<flatrate>
				<scac>FEDX</scac>
			</flatrate>
			<freeshipping>
				<scac>FREE</scac>
			</freeshipping>
			<tablerate>
				<scac>TABLE</scac>
			</tablerate>
			<ups>
				<scac>UPSN</scac>
			</ups>
			<usps>
				<scac>USPS</scac>
			</usps>
			<fedex>
				<scac>FEDX</scac>
			</fedex>
			<dhl>
				<scac>DMAL</scac>
			</dhl>
			<dhlint>
				<scac>DMAL</scac>
			</dhlint>
		</carriers>
	</default>
	<crontab>
		<jobs>
			<dhtechnologies_process_documents>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
                <model>ediconnectorbase/observer::processDocuments</model>
				</run>
			</dhtechnologies_process_documents>
		</jobs>
	</crontab>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ediconnector translate="title"
											module="ediconnectorbase">
											<title>EDI Connector Settings</title>
										</ediconnector>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>