<?xml version="1.0"?>
<config>
	<sections>
		<!-- payment tab -->
		<ediconnector>
			<groups>
				<!-- Ediconnector856in fieldset -->
				<ediconnector856in translate="label"  module="ediconnectorbase">
					<!-- will have title 'New Module' -->
					<label>Document 856 In</label>
					<!-- position between other payment methods -->
					<sort_order>680</sort_order>
					<!-- do not show this configuration options in store scope -->
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- is this payment method active for the website? -->
						<active translate="label">
							<!-- label for the field -->
							<label>Enabled</label>
							<!-- input type for configuration value -->
							<frontend_type>select</frontend_type>
							<!-- model to take the option values from -->
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<!-- field position -->
							<sort_order>1</sort_order>
							<!-- do not show this field in store scope -->
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
					</fields>						
				</ediconnector856in>
			</groups>
		</ediconnector>
	</sections>
</config>
